.post-date{
    background:#f4f4f4;
    padding:4px;
    margin:3px 0;
    display:block;
}

.post-thumb{
    width:100%;
}
.post-thumb2{
    width:100%;

}

.pagination-links{
    margin:30px 0;
}

.pagination-links strong{
    padding: 8px 13px;
    margin:5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}

a.pagination-link{
    padding: 8px 13px;
    margin:5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}
.footer{
    text-align:center;
    background:#000;
    padding:3em 0 1em 0;
}
.footer p {
    color: #fff;
    font-size: 1em;
}
.footer p a{
    color: #fff;
}
.cat-delete{
    display:inline;
}